spring:
  datasource:
    url: ${LOCAL_DB_URL}
    username: ${LOCAL_DB_USER}
    password: ${LOCAL_DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
#    show-sql: true

---

spring:
  config.activate.on-profile: test
  datasource.url: jdbc:h2:mem:testdb